main {
  width: 100%;
  height: calc(100vh - 60px);
  background-color: #1a253a;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  & .main-intro h1 {
    font-size: 8rem;
    line-height: 106px;
  }

  & p {
    font-size: 1.8rem;
    line-height: 30px;
  }

  a {
    margin-top: 30px;
    font-size: 1.8rem;
    display: block;
    background-color: var(--site-color-01);
    padding: 10px 20px;
    width: fit-content;
    text-decoration: none;
  }

  & .main-quotes p {
    border-left: 4px solid var(--site-color-01);
    padding-left: 20px;
    margin: 40px 0;

    &:nth-child(2) {
      margin-left: 100px;
    }
  }

  & .main-intro {
    position: relative;
    right: 10vh;
  }

  & .main-quotes {
    position: relative;
    left: 10vh;
  }
}

/* category section */

.index-category {
  width: 100%;
  padding: 60px 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  column-gap: 20px;
  flex-wrap: wrap;

  & p {
    color: #111;
    text-align: center;
    padding-bottom: 40px;
    flex-basis: 100%;
    text-transform: uppercase;
    font-size: 2.2rem;
  }

  & .index-category-box {
    width: 200px;
    height: 200px;
    background-color: #111;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    & .dark-overlay {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: #1a253a;
      opacity: 0.5;
      transition: all ease-in-out 200ms;
    }

    &:hover .dark-overlay {
      opacity: 0;
    }

    & h3 {
      font-size: 2.2rem;
      line-height: 28px;
      text-align: center;
      text-shadow: -2px 2px 4px #000;
      z-index: 100;
    }

    &:nth-child(2) {
      background-image: url(../image/web\ development.jpg);
    }

    &:nth-child(3) {
      background-image: url(../image/movie\ production.jpg);
    }

    &:nth-child(4) {
      background-image: url(../image/filming.jpg);
    }

    &:nth-child(5) {
      background-image: url(../image/photoshop.jpg);
    }
  }
}

/* about section */

.index-about {
  width: 100%;
  padding: 60px 0;
  background-color: #1a253a;

  & .index-about-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 60px;
  }

  & .index-about-img img {
    width: 300px;
    height: 300px;
    border-radius: 300px;
  }

  & .index-about-text {
    flex-basis: 455px;

    & p {
      padding: 20px 0;
    }

    & a {
      font-size: 1.8rem;
      display: block;
      background-color: var(--site-color-01);
      padding: 10px 20px;
      width: fit-content;
      text-decoration: none;

      &:hover {
        background-color: var(--site-color-01-hover);
      }
    }
  }

  & .index-about-skill {
    flex-basis: 350px;

    & .index-about-skill-bar {
      width: calc(100%-8px);
      height: 20px;
      border: 4px solid #0b0f16;

      & .index-about-skill-bar-fill {
        width: 100%;
        height: 100%;
        background-color: var(--site-color-01);
      }

      & .htmlcss {
        width: 95%;
      }

      & .js {
        width: 80%;
      }
      & .ps {
        width: 70%;
      }
      & .ai {
        width: 90%;
      }
      & .ae {
        width: 70%;
      }
      & .pr {
        width: 85%;
      }
    }
  }
}
